@using Turecky.Eshop.Web.Areas.Admin.Controllers
@model EshopItem
@{
    ViewData["Title"] = "Create Eshop Item";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to create an eshop item.</p>

@{
    ViewBag.Action = nameof(EshopController.Create);
}

<partial name="CreateEditForm" model="Model">
    @section Scripts{
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/js/Validation/FileContentTypeValidation.js"></script>
    }
